@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
  
}

.leaflet-bottom.leaflet-right {
  display: none !important;
}


.search-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.suggestions-list {
  position: absolute;
  width: calc(100% - 2px);
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  display: none; /* Initially hidden */
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background: #f0f0f0;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  background-color: #0056b3;
}
.map-container {
  height: 400px;
  width: 100%;
  background-color: #e9ecef;
}
.fare-details {
  text-align: center;
  margin-top: 20px;
}


/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e7f1f5;
  border-radius: 0 0 350px 0;
}

.sub_page .hero_area {
  min-height: auto;
  border-radius: 0 0 45px 0;
}

.header_section {
  padding: 15px 0;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  color: #F8842B;
  font-size: 24px;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 25px;
  color: #00AAD3;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #000000;
  background-color: #ffffff;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0;
  margin-bottom: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-2 {
  display: none;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] .s-3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 0;
  margin-top: -4px;
}

.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-1,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-2,
.custom_nav-container .navbar-toggler[aria-expanded="false"] .s-3 {
  -webkit-transform: none;
          transform: none;
}

.quote_btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote_btn-container a {
  color: #000000;
  text-transform: uppercase;
}

.quote_btn-container a span {
  margin-left: 5px;
}

.quote_btn-container a:hover {
  color: #f8842b;
}

.quote_btn-container .quote_btn {
  display: inline-block;
  padding: 5px 25px;
  background-color: #f8842b;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f8842b;
}

.quote_btn-container .quote_btn:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}


.single-feature {
	margin-bottom: 80px;
	margin-top: 40px;
}
.single-feature h5 {
	font-size: 16px;
}
.media-right-margin {
	margin-right:25px;
}
.single-feature p {
	font-size: 13px;
}

.section-padding {
	padding: 40px 0px;
}
.banner-text p {
	margin: 25px 0px;
}
.banner-text ul li a img {
	width: 140px;
	border-radius: 7px;
}
.sectioner-header {
	width: 90%;
}
.sectioner-header p {
	font-size: 14px;
}



/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  text-align: center;
  color: #00305b;
}

.slider_section .detail-box h1 {
  color: #F8842B;
  font-weight: bold;
  margin-bottom: 20px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -5px;
  margin-top: 45px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 185px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 12px 15px;
  background-color: #00AAD3;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #00AAD3;
}

.slider_section .detail-box .btn-box .btn1:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.slider_section .img-box img {
  width: 100%;
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 23px;
  height: 23px;
  background-color: #f8842b;
}

#map {
  height: 500px;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
}

.leaflet-bottom.leaflet-right {
  display: none !important;
}

.service_section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2em;
  flex-direction: column;

}


.search-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#calculatFare {
  color: #00AAD3;
}

.input-box{

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }


.dropdown {
  display: flex;
  align-items: center;
  gap: 5px; /* Space between input and icon */
}

.fa-icon {
  font-size: 18px;
  color: #555;
}
/* Responsive Design: Stack elements on small screens */
@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    align-items: stretch; /* Makes inputs take full width */
  }

  .dropdown, .text-center {
    width: 100%;
  }

  .form-control {
    width: 100%; /* Makes input fields expand */
  }

  .btn {
    width: 100%; /* Makes button expand */
  }
}

.heading_container h1{
  font-weight: bold;
  color:  #f8842b;
}

.btn-custom {
  background-color: #00AAD3!important; /* Custom orange */
  color: white; /* Text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
.btn-custom:hover {
  background-color: #056f8a; /* Darker shade on hover */
}




.about_section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7f1f5;
  color: #00305B;
  border-radius: 250px 0 250px 0;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box {
  position: relative;
}

.about_section .img-box img {
  width: 100%;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #f8842b;
  color: #ffffff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f8842b;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.about-us-h2 h2{ 
  color: #f8842b;
  font-weight: bold;
}
/* FEATURE SECTION */
/* Feature Section Styling */
.feature {
  background-color: #f8f9fa; /* Light background */
  padding: 80px 0; /* Top and bottom spacing */
}

.sectioner-header {
  margin-bottom: 50px;
}

.sectioner-header h3 {
  font-size: 32px;
  font-weight: 700;
  color: #f8842b;
}

.sectioner-header .line {
  display: inline-block;
  width: 60px;
  height: 4px;
  background:#00305B; /* Primary color */
  margin: 10px auto;
}

.sectioner-header p {
  color: #00305B;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
}

/* Features Content */
.single-feature {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}

.single-feature:hover {
  transform: translateY(-5px);
}

/* Icons */
.icon-border {
  width: 50px;
  height: 50px;
  border: 2px solid#f8842b;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 24px;
  color: #f8842b;
  margin-right: 15px;
}

.media-body h5 {
  font-size: 20px;
  font-weight: 600;
  color: #00305B;
}

.media-body p {
  font-size: 14px;
  color: #2e2d2d;
  margin-bottom: 0;
}

/* Text Alignment */
.text-right.media-right-margin {
  margin-right: 15px;
}

.text-left.media-right-margin {
  margin-left: 15px;
}

/* Mobile Image */
.feature-mobile {
  justify-content: center;
  align-items: center;
}
.feature-mobile img {
  max-width: auto;
  height: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .single-feature {
    flex-direction: column;
    text-align: center;
  }

  .icon-border {
    margin: 0 auto 10px;
  }
}




.contact_section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 3em;
  height: 100vh;
}

.contact-header h2, h1{
  font-weight: bold;
  color: #f8842b;
}
.contact_section form {
  margin-top: 45px;
}

.contact_section input {
  width: 100%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  color: #000000;
  border: 1px solid #a5a5a5;
}

.contact_section input::-webkit-input-placeholder {
  color: #1c1b1b;
}

.contact_section input:-ms-input-placeholder {
  color: #1c1b1b;
}

.contact_section input::-ms-input-placeholder {
  color: #1c1b1b;
}

.contact_section input::placeholder {
  color: #1c1b1b;
}

.contact_section input.message-box {
  height: 120px;
}

.contact_section button {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  padding: 10px 65px;
  background-color: #00AAD3;
  color: #ffffff;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #00AAD3;
  color: #fff;
  margin-top: 10px;
}

.contact_section button:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.contact_section .map_container {
  height: 100%;
  min-height: 325px;
  overflow: hidden;
  margin-left: 45px;
}

.contact_section .map_container .map {
  height: 100%;
}

.contact_section .map_container .map #googleMap {
  height: 100%;
}


.info_link_box {
  text-align: center;
}

.info_links {
  display: flex;
  flex-direction: column;
  align-items: center; /* Ensures links are centered */
}

.info_links a {
  display: block; /* Ensures full-width centering */
  margin: 5px 0; /* Adds spacing */
}


.image-credits, .info_contact {
  text-align: right; /* Ensures right alignment */
}
.footer_container {
  background-color: #00305B;
  color: #ffffff;
  border-radius: 350px 0 0 0;
  padding-top: 145px;
}

/* info section */
.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: #f8842b;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.info_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.info_section .info_social a:hover {
  color: #f8842b;
}

.info_section .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info_section .info_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.info_section .info_links a:hover {
  color: #f8842b;
}

.info_section form input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  width: 100%;
  height: 45px;
  color: #ffffff;
  outline: none;
}

.info_section form input::-webkit-input-placeholder {
  color: #ffffff;
}

.info_section form input:-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::placeholder {
  color: #ffffff;
}

.info_section form button {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 55px;
  background-color: #f8842b;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #f8842b;
  margin-top: 15px;
}

.info_section form button:hover {
  color: #ffffff;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

/* end info section */
/* footer section*/
.footer_section {
  position: relative;
  text-align: center;
}

.footer_section p {
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}


/* MODAL */
.custom-modal {
  width: 400px;
  height: 400px;
  max-width: none;
}

/* Image styling */
.user-type-img {
  width: 150px; /* Adjust size */
  height: 150px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s;
  border: solid #00305B;
  padding: 10px;
}

/* Hover effect */
.user-type-img:hover {
  transform: scale(1.1);
}

.user-modal{
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-h4{
  color: #f8842b;
}

.senior-font-size .feature {
  font-size: 1.8em !important;
}

/* Floating button */
.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;aaaaa
  border: none;
  border-radius: 50px;
  padding: 12px 18px;
  font-size: 16px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.floating-btn:hover {
  background-color: #0056b3;
}

