body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#map {
    height: 500px;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
}

.leaflet-bottom.leaflet-right {
    display: none !important;
}